* {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: rgb(231, 231, 236);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    background: #ffffff;
    max-height: 85vh;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

h3 {
    opacity: 0.7;
}

.left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left .basic-info {
    margin: 0 1vw;
}

.left h3,p {
    text-align: center;
    margin-bottom: 6vh;
}

.left p {
    opacity: 0.4;
}

.left #page-1,#page-2,#page-3 {
    color: #ffffff;
    padding: 13px 18px;
    font-size: 20px;
    border: 1px #ffffff;
    border-radius: 100%;
    margin-bottom: 7vh;
}

#page-3 {
    color: black;
    opacity: 0.5;
}

.left #page-1,#page-2,#page-3:focus {
    outline: none;
}

#page-1,#page-2 {
    background: #695A94;
}


.right {
    flex: 2;
    height: 85vh;
    border-left: 2px solid rgba(199, 193, 193, 0.5);
}



.right #business-name input, #business-address input {
    width: 51vw;
    height: 2vh;
}


.right form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5vw;
}

.right .inputs-3 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2vw;
}

.right .inputs-3 #first {
    margin-right: 5vw;
}

.right .inputs-4 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2vw;
}

.right .inputs-4 #third {
    margin-right: 5vw;
}

input,select {
    width: 23vw;
    padding: 2.7%;
    margin-top: 1vw;
    border-radius: 5px;
    border: 2px solid rgba(216, 203, 203, 0.5);
}

label {
    opacity: 0.5;
}

input::placeholder {
    opacity: 0.5;
}

#confirm-btn {
    padding: 10px 25px;
    border-radius: 5vw;
    color: #ffffff;
    background: #695A94;
    cursor: pointer;
    border: none;
}
#confirm-btn :focus {
    outline: none;
}
#confirm-btn :active {
    transform: scale(0.95);
}

.last-buttons {
    margin: 2vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#back-btn {
    padding: 8px 15px;
    margin-right: 1vw;
    border: 2px solid rgba(104, 97, 97, 0.5);
    border-radius: 5vw;
    background: #ffffff;
    color: #000000;
    opacity: 0.5;
    cursor: pointer;
}

#back-btn:focus {
    outline: none;
}
#back-btn:active {
    transform: scale(0.95);
}


@media screen and (max-width: 600px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow:auto;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .left {
        max-width: 20vw;
        margin-top: 50vw;
        align-items: center;
        justify-content: center;
    }

    .left #page-1,#page-2 {
        padding: 2px 3.2px;
        margin-top: 50vw;
    }

    .right .inputs-3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #business-website {
        margin-bottom: 2vw;
    }

    .right #business-name input, #business-address input {
        height: 9vw;
    }

    input,select {
        width: 50vw;
        height: 9vw;
    }

    .right .inputs-4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #business-type {
        margin-bottom: 2vw;
    }
    

    .right {
        border: none;
    }

}